node_modules/
dist/
.env
*.log
.DS_Store
.env.docker.bak

# Exclude all .md files except README.md (and READNE.md typo just in case)
*.md
!README.md
!READNE.md

# Folders excluded
.claude/
.dist/
.docs/
docs/
mobile-app/
panel-web/
spec-driven-development/

# File types excluded
*.png
*.pdf
*.docx
